@inherits LayoutComponentBase


<div class="container-fluid h-100 w-100 bg-dark">
    <div class="row justify-content-center align-items-center h-100">
        <div class="col-8 col-md-8 d-flex justify-content-center">
            @Body
        </div>
    </div>

</div>

@code {

}
